body {
  background-color: #88e23b;
  color: #043c6e;
}

.title {
  font-size: 2.7em;
  font-family: monospace;
  text-align: center;
}

.btns {
  display: flex;
  justify-content: space-around;
}

.btn {
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  background: #60a85f;
  font-weight: bold;
  border: 1px solid #a6cccc;
  transition: 1s;
  transform: scale(1);
  cursor: pointer;
}

.btn:hover {
  background-color: #88e23b;
  transform: scale(1.1);
}

.btn:disabled:hover {
  background-color: #60a85f;
  transform: scale(1);
  cursor: default;
}

.btn-2 {
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  border-radius: 5px;
  background: #60a85f;
  font-weight: bold;
  border: 1px solid #a6cccc;
  transition: 1s;
  transform: scale(1);
  cursor: pointer;
}

.btn-2:hover {
  background-color: #88e23b;
  transform: scale(1.1);
}

.btn-2:disabled:hover {
  background-color: #60a85f;
  transform: scale(1);
  cursor: default;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.character {
  background-color: #60a85f;
  text-align: center;
  border-radius: 10px;
  font-family: monospace;
  font-weight: bolder;
}

.character img {
  border-radius: 10px 10px 0 0;
}

.name-character {
  font-size: 2em;
}

.info {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.2em;
}

@media (min-width: 2560px) {
  .grid {
    grid-template-columns: repeat(5, 1fr);
  }

  .title {
    font-size: 6em;
  }

  .btn {
    transform: scale(2);
    margin-bottom: 2rem;
  }

  .btn:hover {
    transform: scale(2.1);
  }
  
  .btn:disabled:hover {
    transform: scale(2);
  }

  .btn-2 {
    transform: scale(2);
    margin-top: 2rem;
  }

  .btn-2:hover {
    transform: scale(2.1);
  }
  
  .btn-2:disabled:hover {
    transform: scale(2);
  }


  .name-character {
    font-size: 4em;
  }

  .info {
    font-size: 2.5em;
  }
}

@media (max-width: 1230px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 950px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 640px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}